<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Zelda Quiz</title>
  </head>
  <body>
    <div id="app">
      <div id="everything">
        <h1>Zelda Quiz</h1>
        <div id="container">
          <p>{{description}}</p>
          <div></div>
          <div id="input-and-button">
            <select id="mult-choice" v-model="guess">
              <option v-for=" monster in monster_list.questions_list">
                {{monster}}
              </option>
            </select>
            <button @click="submit_answer()" id="submit_button">
              Submit Answer
            </button>
          </div>

          <p>score</p>
          <p>{{ score }}</p>
        </div>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
